
h1{
	color: #ffe46b;
}

body{
	background-color: #fff6cc;
}

p{
	color:#0d0d0d ;
}

.yellowParagraph{
	color:#0d0d0d ;
}

table, td{
	border-style: dotted;
}
table{ 
	border-width: 4px; 
	border-color: #ffe46b;
	margin-left: auto;
	margin-right: auto;
}
td{
	border-width: 2px ;
}
body{
	background-image: url(recipes.19547.jpg);
	background-size:200px ;
	background-repeat: repeat-y ;
	background-position: left top ; 